<div class="product" data-name="{{title}}" data-amount="{{amount}}" data-price="{{price}}" data-itemtype="{{itemtype}}">
    <div class="product-content">
        <div class="product-add-button-container">
            <button type="button" class="product-add-button">Add</button>
            <img src="https://media.istockphoto.com/id/688550958/vector/black-plus-sign-positive-symbol.jpg?s=612x612&w=0&k=20&c=0tymWBTSEqsnYYXWeWmJPxMotTGUwaGMGs6BMJvr7X4=", alt="Plus sign">
        </div>
        <div class="product-image-container">
            <img src="{{photoURL}}" alt="{{title}}">
        </div>
        <div class="product-info-container">
            <h4 class="product-title">{{title}}</h4>
            <h4 class="product-price">{{price}}</h4>
        </div>
    </div>
</div>