<div class="reciept-item" data-name="{{name}}" data-amount="{{amount}}" data-price="{{price}}">
                    <span class="reciept-item-title">{{name}}</span> <span class="reciept-item-amount">x{{amount}}</span> <span class="reciept-item-price">${{price}}</span>
                </div>