<div class="receipt-item" data-name="{{name}}" data-amount="{{amount}}" data-price="{{price}}">
    <span class="receipt-item-title">{{name}}</span> <span class="receipt-item-amount">x{{amount}}</span> <span class="receipt-item-price">${{price}}</span>
</div>